[Desktop Entry]
Version=1.0                                                                            
Name=Eclipse
Exec=/home/lambert/Programs/eclipse/SpringToolSuite4                
StartupNotify=true
Terminal=false
Icon=/home/lambert/Programs/eclipse/icon.xpm
Type=Application
Categories=Development;
