[Desktop Entry]
Version=1.0                                                                            
Name=Eclipse
Exec=/home/lambert/Programas/eclipse/eclipse                
StartupNotify=true
Terminal=false
Icon=/home/lambert/Programas/eclipse/icon.xpm
Type=Application
Categories=Development;
